* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-inter), sans-serif;
}

.rt-TextFieldInput:focus {
  outline-color: #4A61C0;
  box-shadow: 0 0 0 2px #4A61C0;
}
